@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="jumbotronMain">
    <h1>My Closet</h1>
    <p class="lead">Helping people stay orginized and manage their clothes!</p>
    <p><a class="btn btn-primary" role="button" @Html.ActionLink("Add New Clothes", "Create", "Tops") </a> </p>
</div>


<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/images/sandColoredShirt.jpg" />
            <div class="caption">
                <h3>My Tops</h3>
                <p>View the blouses, hoddies, tanks and more tops you have added to your closet.</p>
                <p><a class="btn btn-primary" role="button" @Html.ActionLink("Tops", "Index", "Tops") </a> </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/images/rippedLightJeans.jpg" />
            <div class="caption">
                <h3>My Bottoms</h3>
                <p>View the jeans, shorts, skirts and more you have added to your closet.</p>
                <p><a class="btn btn-primary" role="button" @Html.ActionLink("Bottoms", "Index", "Bottoms") </a> </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/images/whiteAdidas.jpg" />
            <div class="caption">
                <h3>My Shoes</h3>
                <p>View the boots, sandals, heels and more you have added to your closet.</p>
                <p><a class="btn btn-primary" role="button" @Html.ActionLink("Shoes", "Index", "Shoes")</a> </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/images/leafNecklace.jpg" />
            <div class="caption">
                <h3>My Accessories</h3>
                <p>View the necklaces, bracelets, rings and more you have added to your closet. </p>
                <p><a class="btn btn-primary" role="button" @Html.ActionLink("Accessories", "Index", "Accessories")</a> </p>
            </div>
        </div>
    </div>

</div>

<div class="jumbotron" id="=jumbotronOutfits">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="secondJumbotron">
                <h2>My Favorite Outfits</h2>
            </div>
        </div>
    </div>
</div>
<div id="theCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#theCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#theCarousel" data-slide-to="1"></li>
    </ol>


    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <center><h3> Sand colored shirt, dark jean shorts, and sandals.</h3></center>
            <center><h4>Going out</h4></center>
            <div class="carousel-caption">
            </div>
        </div>
        <div class="item">
            <center><h3>White blouse, black pants, leaf necklace, and booties.</h3></center>
            <center><h4>Formal</h4></center>
            <div class="carousel-caption">

            </div>
        </div>

        <div class="item">
            <center><h3>Grey top, dark jeans, tennis shoes</h3></center>
            <center><h4>Casual</h4></center>
            <div class="carousel-caption">

            </div>
        </div>

    </div>



    <!-- functioning carousel-->


    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">PREVIOUS</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>