@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="jumbotronMain">
    <h1>My Closet</h1>
    <p class="lead">Helping people stay orginized and manage their clothes!</p>
    <p><a class="btn btn-primary" role="button" @Html.ActionLink("Add New Clothes", "Create", "Tops") </a> </p>
</div>
<img src />

<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/images/sandColoredShirt.jpg" />
            <div class="caption">
                <h3>My Tops</h3>
                <p>View the blouses, hoddies, tanks and more tops you have added to your closet.</p>
                <p><a class="btn btn-primary" role="button" @Html.ActionLink("Tops", "Index", "Tops") </a> </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/images/rippedLightJeans.jpg" />
            <div class="caption">
                <h3>My Bottoms</h3>
                <p>View the jeans, shorts, skirts and more you have added to your closet.</p>
                <p><a class="btn btn-primary" role="button" @Html.ActionLink("Bottoms", "Index", "Bottoms") </a> </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/images/whiteAdidas.jpg" />
            <div class="caption">
                <h3>My Shoes</h3>
                <p>View the boots, sandals, heels and more you have added to your closet.</p>
                <p><a class="btn btn-primary" role="button" @Html.ActionLink("Shoes", "Index", "Shoes")</a> </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="~/Content/images/leafNecklace.jpg" />
            <div class="caption">
                <h3>My Accessories</h3>
                <p>View the necklaces, bracelets, rings and more you have added to your closet. </p>
                <p><a class="btn btn-primary" role="button" @Html.ActionLink("Accessories", "Index", "Accessories")</a> </p>
            </div>
        </div>
    </div>

</div>

<div class="jumbotron" id="=jumbotronOutfits">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="secondJumbotron">
                <h2>My Favorite Outfits</h2>
            </div>
        </div>
    </div>
</div>



<div id="text-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="carousel-content">
                        <div>
                            <h3>White Top, Dark Jeans, Grey Booties</h3>
                            <h4>Going Out</h4>
                            <h4>Fall</h4>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                           <h3>Maroon Top, Light Jean Shorts, Sandals</h3>
                            <h4>Hanging Out</h4>
                            <h4>Summer</h4>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="carousel-content">
                        <div>
                          <h3>Grey Blouse, Black Pants, Grey Boots</h3>
                            <h4>Business Casual</h4>
                            <h4>Spring/Fall</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#text-carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

</div>
