@model IEnumerable<WardrobeMVC2.Models.Sho>

@{
    ViewBag.Title = "Index";
}


@*Index witll show clothing name to see details click details*@
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div>
    <h4>My Shoes</h4>
    <hr />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <img class="shoesPhoto"  style="width: 200px" src="@Html.DisplayFor(modelItem => item.Photo)" />
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                       
                        <p>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ShoesID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ShoesID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ShoesID })
                        </p>
                    </div> 
                </div>
            </div>
        }

    </div>

    @*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occasion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th></th>
        </tr>*@

    @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.Photo)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Occasion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Season)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ShoesID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ShoesID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ShoesID })
                </td>
            </tr>
        }

        </table>*@
